body {
  background-color: beige;
}

h2 {
  color: #5d70ea;

  font-size: 3vw;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;

  background-color: #fff;
  border: 3px solid #5d70ea;
  border-radius: 20px;
  width: 50vw;
  margin: 20px auto;
}

.inner,
.desc {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.web,
.desc_web {
  width: 59vw;
  margin-right: 1vw;
}
.mob,
.desc_mob {
  width: 20vw;
}

.inner img {
  width: 100%;
}
.desc p {
  text-align: center;
  font-size: 2vw;
  font-weight: bolder;
  color: #5d70ea;
  padding: 30px 0;
}

.btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96vw;

  display: flex;
  justify-content: space-between;
}
.btn .fas {
  font-size: 3vw;
  cursor: pointer;
  transition: 0.5s;
  animation: arrow 0.8s alternate infinite;
}

@keyframes arrow {
  from {
    color: #f7afff;
  }
  to {
    color: #5d70ea;
  }
}
